<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments on Date</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script src="/scripts.js" defer></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container mt-5">
    <a href="http://localhost:8080"><h6>Main</h6></a>
    <h2 class="mb-4">Departments on Date</h2>
    <div class="form-group">
        <label for="date">Date:</label>
        <input type="text" class="form-control" id="date" name="date" required>
    </div>

    <div style="padding-bottom: 20px" id="departments-list" class="mt-4">
        <div id="content"></div>
    </div>
</div>
</body>
</html>
