<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnel System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Personnel System</h1>
    <div class="d-flex flex-column align-items-start">
        <a href="http://localhost:8080/add-department" class="btn btn-primary mb-2">Add department</a>
        <a href="http://localhost:8080/add-employee" class="btn btn-primary mb-2">Add Employee</a>
        <a href="http://localhost:8080/departments-on-date" class="btn btn-primary mb-2">Departments on Date</a>
        <a href="http://localhost:8080/employees-in-department" class="btn btn-primary mb-2">Employees in Department</a>
    </div>
</div>
</body>
</html>
